* {
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{text-decoration: none;

}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

main a {
    font-size: 2em;
    margin: .5em 2em auto;
    text-decoration: none;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    color: white;
}
.push{
    color: white;
}

h1{
    text-align: center;
    padding: 5vh 0 8vh 0;
    font-family: monoton;
    font-size: 14vh;
    color:white;
}

.createbox {
    justify-content: flex-start;
}

    .createbox div {
        margin: 1em;
    }

#posts{

    /*display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 5vh 0 5vh 0;
    color:white;*/


}


header {
    display: flex;
    background: linear-gradient(to bottom right, darkgrey, black 50%);
    justify-content: space-between;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}


    nav a {
        padding: .5em 2em;
        padding-top: 1em;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

a h2:hover, h3:hover {
    color: darkred;
}

nav a:hover {
    background: #444;
    color: darkred;
}

nav img {
    width: 40px;
    height: 40px;
    margin: 1em;
}

nav div {
    display: flex;
    align-content: center;
}

    nav div span {
        margin-left: 1em;
        margin-top: 1em;
        color: white;
        font-size: 20px;
    }

body {
    width: 100%;
    background-image: url("/Images/MJordan.jpeg");
    background-size: cover;
    padding-bottom: 25px;
}

footer {
    background: rgba(111, 221, 126, 0);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 20px;
    position: fixed;
}

div a{
    font-size: medium;
}

h2 {
    font-size: 50px;
    color: white;
    text-decoration:none;
    text-align: center;
}

h3 {
    font-size: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
}

h4{
    font-size: 40px;
    color: white;
    text-decoration: none;
    text-align: left;
}

p {
    color: white;
    font-size: medium;
}

.btn btn-default {
    color: white;
}
.infobox {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 80%;
}

form {
    padding: 2em;
    padding-bottom: 1em;
}

.return {
    padding-left: 2em;
}

.control-label {
    color: white;
}