@model Sportsblog.Models.Tags

@{
    Layout = "/Views/Shared/_layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SingleSport</title>
</head>
<body>
    <br />
    <h1>@Model.TagName</h1>

    <div class="infobox">
        <p>@Model.TagName</p><br />
        <br />
    </div>
    <h2>Posts</h2>
    <main class="createbox">
        <div>
            <a href="/Posts/CreatePost/@Model.TagName">Create Post</a>
            <br />
        </div>

        @foreach (var post in Model.Posts)
        {
            <div class="posts">

                <h4>@post.Title</h4>
                <br>
                <p>@post.PostContent</p>
                <a href="/Posts/EditPost/@post.PostId">Edit Post</a>
                <a href="/Posts/DeletePost/@post.PostId">Delete Post</a>

            </div>
            <br />
        }
    </main>
</body>
</html>