@model IEnumerable<Sportsblog.Models.Sports>
@{
    Layout = "/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Sports</h1>
    <main>

        @foreach (var item in Model)
        {
            <a href="Sports/SingleSport/@item.SportId">

                <img src="~/Images/@item.ImageUrl" alt="Alternate Text" />*
                <h2>@item.SportName</h2>

            </a>
        }

    </main>
</body>
</html>
