@model IEnumerable<Sportsblog.Models.Posts>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Allposts</title>
</head>
<body>
</body>
</html>
