@model IEnumerable<Sportsblog.Models.Posts>
@{
    Layout = "/Views/Shared/_layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Posts</title>
</head>
<body>
    <div>
        <h1> All Posts </h1>
    </div>
    <main>

        @foreach (var item in Model)
        {

            <a href="/Posts/SinglePost/@item.PostId">
                <p>@item.Title</p>
                <br />
                <p>@item.PostContent</p>
            </a>

        }

    </main>
</body>
</html>
