@model Sportsblog.Models.Posts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditPost</title>
</head>
<body>

    <h4>Posts</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" value="@Model.PostId" asp-for="PostId" />
                <div class="form-group">
                    <label asp-for="PostContent" class="control-label"></label>
                    <input asp-for="PostContent" class="form-control" />
                    <span asp-validation-for="PostContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="SportId" type="hidden" value="@Model.SportId" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="TagId" type="hidden" value="@Model.TagId" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
         </div>
    </div>

    <div>
        <a asp-controller="Posts" asp-action="SinglePost">Back to List</a>
    </div>

</body>
</html>
