
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <nav>
        <div>
            <h5>Pitch and Post</h5>

        </div>
        <a class="push" href="/">Home</a>
        <a class="push" href="/Posts/Allposts">All Posts</a>\
        <a class="push" href="/Tags/AllTags">View Tags</a>

    </nav>
    @RenderBody()
    <footer> Copyright 2019</footer>
</body>
</html>

